<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Mahasiswa</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div align="center">
            <h1>Daftar Mahasiswa</h1>
            <table border="1">
                <thead>
                    <tr>
                        <th>NIM</th>
                        <th>Nama</th>
                        <th>Jurusan</th>
                        <th>Tanggal Lahir</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="mahasiswa:${ListMahasiswa}">
                        <td th:text="${mahasiswa.nim}"></td>
                        <td th:text="${mahasiswa.nama}"></td>
                        <td th:text="${mahasiswa.jurusan}"></td>
                        <td th:text="${mahasiswa.borndate}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
